# Core deep learning
tensorflow==2.20.0
keras==3.11.3

# Data handling
numpy==2.2.6
pandas==2.3.2

# Visualization
matplotlib==3.10.6
seaborn==0.13.2

# Machine learning utilities
scikit-learn==1.7.2

# Image processing
opencv-python==4.12.0.88
pillow==11.0.0
